In [10]:
import pandas as pd
import numpy as np
import seaborn as sn
from scipy import stats
import random

airbnb=pd.read_csv("C:/Users/Gazi/Desktop/AB_NYC_2019.csv")
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [21]:
s1=airbnb.sample(n=5)
print(s1)

             id                                               name    host_id  \
21959  17667585            Cozy Apartment on Bedford Ave, Brooklyn   42727726
48092  36076807                                cozy apt in midtown  271393608
47625  35836471  Cozy Large Sunny Artist Retreat 10min to Manha...  269114687
29742  22859702         Sunlit Bushwick Oasis w/ Private Bathroom!   87181550
30773  23819961      Tree Lined Block in Celebs Fave Neighborhood!     791011

      host_name neighbourhood_group   neighbourhood  latitude  longitude  \
21959   Natasha            Brooklyn    Williamsburg  40.71284  -73.96284
48092   Michael           Manhattan  Hell's Kitchen  40.76725  -73.98669
47625   Felicia            Brooklyn    Williamsburg  40.71799  -73.95826
29742       H&E            Brooklyn        Bushwick  40.68993  -73.90499
30773     D & J           Manhattan    West Village  40.73817  -74.00768

             room_type  price  minimum_nights  number_of_reviews last_review  \
21959     Private room     88               7                 15  2018-01-01
48092      Shared room     70               1                  3  2019-06-30
47625  Entire home/apt    188               5                  1  2019-06-30
29742     Private room     55               1                 36  2019-05-29
30773  Entire home/apt    240               2                  0         NaN

       reviews_per_month  calculated_host_listings_count  availability_365
21959               0.55                               1                 0
48092               3.00                               6                24
47625               1.00                               1                51
29742               2.07                               1                26
30773                NaN                               1                81

In [25]:
def sistematik_orneklem(df,stp):
    idx=np.arange(0,len(df),step=stp)
    sample=df.iloc[idx]
    return sample

sys_sample=sistematik_orneklem(airbnb,10000)
print(sys_sample)

             id                                            name   host_id  \
0          2539              Clean & quiet apt home by the park      2787
10000   7691534              2 bed, 2 bath in Battery Park City  40394783
20000  16010783    Spacious Harlem Apartment perfect for groups  15757322
30000  23094550  1BR Apartment in the Heart of the East Village   7269534
40000  31069988      Beautiful Apartment on the Upper West Side  17494958

      host_name neighbourhood_group      neighbourhood  latitude  longitude  \
0          John            Brooklyn         Kensington  40.64749  -73.97237
10000   Richard           Manhattan  Battery Park City  40.70803  -74.01735
20000  Devin T.           Manhattan        East Harlem  40.79580  -73.93186
30000    Declan           Manhattan       East Village  40.72939  -73.98553
40000      Katy           Manhattan    Upper West Side  40.77391  -73.98874

             room_type  price  minimum_nights  number_of_reviews last_review  \
0         Private room    149               1                  9  2018-10-19
10000  Entire home/apt    200               1                  0         NaN
20000  Entire home/apt    280               2                 53  2019-07-03
30000  Entire home/apt    100               4                  5  2018-06-20
40000  Entire home/apt    200               3                  0         NaN

       reviews_per_month  calculated_host_listings_count  availability_365
0                   0.21                               6               365
10000                NaN                               1                 0
20000               2.29                               2                12
30000               0.30                               1                 0
40000                NaN                               3                 0

In [47]:
#print(airbnb)
df=airbnb["neighbourhood_group"].value_counts()
#print(df)
df=pd.DataFrame(df).reset_index()
#print(df)
df.columns=["neighbourhood_group","count"]
df["perc"]=df["count"]/df["count"].sum()
print(df)

  neighbourhood_group  count      perc
0           Manhattan  21661  0.443011
1            Brooklyn  20104  0.411167
2              Queens   5666  0.115881
3               Bronx   1091  0.022313
4       Staten Island    373  0.007629

In [41]:
df["sample_n"]=round(df["perc"]*1000)
print(df)

  neighbourhood_group  count      perc  sample_n
0           Manhattan  21661  0.443011     443.0
1            Brooklyn  20104  0.411167     411.0
2              Queens   5666  0.115881     116.0
3               Bronx   1091  0.022313      22.0
4       Staten Island    373  0.007629       8.0

In [ ]:
def strata(df,col,val):
    col_strat=df[df[col]==val]
    return col_strat

nbh_list=list(df["neighbourhood_group"])

strata_list=[]

for i in nbh_list:
    strata_list.append(strata(airbnb,"neighbourhood_group",i))
    
print(strata_list)